<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 login-info-container">
      <h1 class="account-header">Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="account-form" ng-submit="changePassword(form)" novalidate>

        <!-- current password input -->
        <md-input-container class="md-block account-container">
          <label>Current Password</label>
          <input type="password" name="password" class="account-input" ng-model="user.oldPassword" mongoose-error/>
          <p class="help-block error-message" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </md-input-container>

        <!-- new password input -->
        <md-input-container class="md-block account-container">
          <label>New Password</label>
          <input type="password" name="newPassword" class="account-input" ng-model="user.newPassword" ng-minlength="3" required/>
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </md-input-container>

        <p class="help-block error-message"> {{ message }} </p>

        <button class="btn btn-inverse btn-lg btn-login button-login" type="submit">
          <div class="button-label">Save changes</div>
        </button>
      </form>
    </div>
  </div>
</div>