<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 login-info-container">
      <h1 class="account-header">Login</h1>
      <p>Accounts are reset on server restart from <span class="account-header-detail">server/config/seed.js</span>.</p>
      <p>Default account is <span class="account-header-detail">test@test.com</span> / <span class="account-header-detail">test</span>.</p>
      <p>Admin account is <span class="account-header-detail">admin@admin.com</span> / <span class="account-header-detail">admin</span>.</p>
    </div>
    <div class="col-sm-12">
      <form class="account-form" name="form" ng-submit="login(form)" novalidate>
  
        <!-- email input -->
        <md-input-container class="md-block account-container">
            <label>Email</label>
            <input type="email" name="email" class="form-control account-input" ng-model="user.email" required>
        </md-input-container>

        <!-- password input -->
        <md-input-container class="md-block account-container">
          <label>Password</label>
          <input type="password" name="password" class="form-control account-input" ng-model="user.password" required>
        </md-input-container>

        <div class="form-group has-error">
          <p class="help-block error-message" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block error-message" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block error-message">{{ errors.other }}</p>
        </div>

        <!-- submit buttons -->
        <div>
          <button class="btn btn-inverse btn-lg btn-login button-login" type="submit">
            <div class="button-label">Login</div>
          </button>
          <a class="btn btn-default btn-lg btn-register button-register" href="/signup">
            Register
          </a>
        </div>

      </form>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
