.footer {
	margin-top: 50px !important;
}

footer.footer {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 0;
	margin-top: 20px;
	border-top: 1px solid #E5E5E5;
}

.footer-container {
	background-color: $darkGray;
	color: $lightGray;
	margin: 0 !important;
	width: 100%;

	.footer-container-row {

		.footer-column {
			@include flex;
			@include align-center;
			@include justify-center;
			min-height: 250px;

			.footer-list {
				list-style-type: none;
			    padding: 0;
				margin: 20px 0px 20px 0px;
				width: 100%;

				&.logo-list {
					@include flex;
					@include align-center;
					@include justify-center;
					font-size: 36px;

					.logo-list-item {
						margin: 20px;
						width: 50px;

						> a {
							color: $lightGray !important;
						}
						
						&:hover > a {
							color: $baseYellow !important;
						}
					}
				}

				&.text-list {
					text-align: left;
				    width: 110px;

				    .text-list-item {
				    	margin: 10px;

				    	> a {
							color: $lightGray !important;
						}
						
						&:hover > a {
							color: $baseYellow !important;
							text-decoration: none;
						}
				    }
				}
			}

			.footer-logo {
				@include flex;
				@include align-center;
				@include justify-center;
				@include direction-column;

				.footer-logo-icon {
					font-size: 75px;
					color: $lightGray;
				}

				.footer-logo-label {
					margin-top: 10px;
					font-size: 16px;
				}
			}
		}
	}
}