<div class="footer">
	<div class="container footer-container">
		<div class="row footer-container-row">
			<!-- text urls -->
			<div class="col-md-4 col-sm-12 col-xs-12 footer-column">
				<ul class="footer-list text-list">
					<li class="text-list-item"><a href="#"><span>Privacy policy</span></a></li>
					<li class="text-list-item"><a href="#"><span>FAQ</span></a></li>
					<li class="text-list-item"><a href="#"><span>Terms of use</span></a></li>
					<li class="text-list-item"><a href="#"><span>Sitemap</span></a></li>
					<li class="text-list-item"><a href="#"><span>Contact</span></a></li>
				</ul>	
			</div>

			<!-- logo? -->
			<div class="col-md-4 col-sm-12 col-xs-12 footer-column">
				<div class="footer-logo">
					<i class="material-icons app-navbar-brand-icon footer-logo-icon">monetization_on</i>
					<div class="footer-logo-label">© Rent-A-Car 2016</div>
				</div>	
			</div>

			<!-- icons -->
			<div class="col-md-4 col-sm-12 col-xs-12 footer-column">
				<div class="footer-list logo-list">
					<div class="logo-list-item"><a href="http://facebook.com/rentacar"><i class="fa fa-facebook"></i></a></div>
					<div class="logo-list-item"><a href="http://twitter.com/rentacar"><i class="fa fa-twitter"></i></a></div>
					<div class="logo-list-item"><a href="http://plus.google.com/rentacar"><i class="fa fa-google-plus"></i></a></div>
					<div class="logo-list-item"><a href="https://github.com/rafalkolasinski/rent-a-car"><i class="fa fa-github"></i></a></div>
				</div>	
			</div>
		</div>
	</div>
</div>