<div class="navbar navbar-default navbar-static-top app-navbar" ng-controller="NavbarCtrl">
  <div class="container app-navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <a href="/" class="navbar-brand app-navbar-brand">
        <i class="material-icons app-navbar-brand-icon">monetization_on</i>
      </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-show="isAdmin()" ng-class="{activeButton: isActive('/admin')}">
          <a href="/main">Home</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{activeButton: isActive('/admin')}">
          <a href="/admin">Admin</a>
        </li>
        <li ng-class="{activeButton: isActive('/cars')}">
          <a href="/cars">Cars</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{activeButtonSignup: isActive('/signup')}">
          <a href="/signup">Sign up</a>
        </li>
        <li ng-hide="isLoggedIn()" ng-class="{activeButton: isActive('/login')}">
          <a href="/login">Login</a>
        </li>
        <li ng-show="isLoggedIn()">
          <p class="navbar-text">Hello, {{ getCurrentUser().name }}!</p>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{activeButton: isActive('/settings')}">
          <a href="/settings">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{activeButton: isActive('/logout')}">
          <a href="" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
