<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 login-info-container">
      <h1 class="account-header">Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form name="form" class="account-form" ng-submit="register(form)" novalidate>

        <!-- name input -->
        <md-input-container class="md-block account-container" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
            <label>Name</label>
            <input type="text" name="name" class="account-input" ng-model="user.name" required/>
            <p class="help-block error-message" ng-show="form.name.$error.required && submitted">
              A name is required.
            </p>
        </md-input-container>

        <!-- email input -->
        <md-input-container class="md-block account-container" ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
          <label>Email</label>
          <input type="email" name="email" class="form-control account-input" ng-model="user.email" required mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block error-message" ng-show="form.email.$error.required && submitted">
            An email address is required.
          </p>
          <p class="help-block error-message" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </md-input-container>

        <!-- password input -->
        <md-input-container class="md-block account-container" ng-class="{ 'has-success': form.password.$valid && submitted, 'has-error': form.password.$invalid && submitted }">
          <label>Password</label>
          <input type="password" name="password" class="form-control account-input" ng-model="user.password" ng-minlength="3" required mongoose-error/>
          <p class="help-block error-message" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block error-message" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </md-input-container>

        <!-- submit buttons -->
        <div>
          <button class="btn btn-inverse btn-lg btn-login button-login" type="submit">
            <div class="button-label">Sign up</div>
          </button>
          <a class="btn btn-default btn-lg btn-register button-register" href="/login">
            Login
          </a>
        </div>

      </form>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>